/* ===================

[ PROJECT STYLEGUIDE ]

====================== */

// Styleguide Variables
:root {
  --primary-text-color: #111111;
  --highlight-color: #eaffef;
  --border-color: #efefef;
  --divider-color: #dee2e6;
  --link-static-color: var(--primary-text-color);
  --link-hover-color: var(--highlight-color);
  --border-radius: 2px;
  --nav-item-icon-size: 15px;
}

.styleguide {
  margin: 0 auto;
  max-width: 1200px;

  display: grid;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas: 
    "styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header"
    "styleguide-nav styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main"
    "styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer";
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  background-color: #fafafa;


  // Stack areas on mobile
  @media(max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 1fr auto;
    grid-template-areas: 
      "styleguide-header"
      "styleguide-nav"
      "styleguide-main"
      "styleguide-footer";
  }

  header.styleguide-header { grid-area: styleguide-header }
  main.styleguide-main { grid-area: styleguide-main }
  main.styleguide-nav { grid-area: styleguide-nav }
  footer.styleguide-footer { grid-area: styleguide-footer }


  /* Styleguide Header
  ---------------------------------------------*/
  header.styleguide-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* Styleguide Navigation
  ---------------------------------------------*/
  nav.styleguide-nav {
    background-color: #ffffff;
    align-self: start;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    position: sticky;
    top: 15px;
  }

  nav.styleguide-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav.styleguide-nav ul * + * {
    border-top: 1px solid var(--divider-color);
  }

  nav.styleguide-nav a {
    position: relative;
    display: block;
    padding: 10px calc(15px + var(--nav-item-icon-size)) 10px 15px;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    color: var(--link-static-color);

    &::before {
      content: '>';
      position: absolute;
      top: 50%;
      right: calc(((15px + var(--nav-item-icon-size)) - var(--nav-item-icon-size)) / 2);
      transform: translateY(-50%);
      text-align: center;
      width: var(--nav-item-icon-size);
      font-size: var(--nav-item-icon-size);
    }

    &:hover {
      background-color: var(--link-hover-color);
    }

    &:first-child {
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }
    &:last-child {
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }

  /* Styleguide Main
  ---------------------------------------------*/
  main.styleguide-main {
    background-color: #ffffff;
  }

  /* Styleguide Footer
  ---------------------------------------------*/
  footer.styleguide-footer {
    background-color: #2f2f2f;
  }

  section {
    padding: 20px;
    max-width: 1200px;
  }

  [class*="styleguide-"] {
    font-family: Avenir, sans-serif;
    // color: var(--primary-text-color);
  }


  /* Styleguide Group Contents
  ---------------------------------------------*/
  .styleguide-group {
    padding-bottom: 50px;
  }

  .styleguide-subgroup {
    padding-bottom: 30px;
  }

  .styleguide-title {
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .styleguide-heading {
    font-weight: 100;
    letter-spacing: 0.03em;
    border-bottom: 2px solid var(--border-color);
  }

  .styleguide-subheading {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: var(--highlight-color);
  }

  .styleguide-label {
    margin: 0;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }

  .styleguide-help-text {
    display: inline-block;
    margin-top: 5px;
    padding: 7px;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.2;
    color: #5cc4ef;
    background-color: #f5f5f5;
    border-radius: 2px;
  }



  .styleguide-code-preview {
    position: relative;
    padding-left: 75px;
    &::before {
      content: 'Usage';
      position: absolute;
      top: 0;
      left: 0;
      width: 75px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;
    }
  }

  .styleguide-code-preview pre {
    display: flex;
    white-space: normal;
  }

  .styleguide-code-preview code {
    display: inline-block;
    font-size: 13px;
    // white-space: pre;
    white-space: pre-wrap; // For now use pre-wrap until you can figure out the freaking overflow problem
    background-color: #fbfdfd;
    // background-image: linear-gradient(transparent 13px, rgba(69, 142, 209, 0.04) 50%, transparent 100%);
    border: 1px solid var(--border-color);
    border-radius: 2px;
  }
}



.styleguide-color-item {
  padding: 2px;

  code {
    margin-left: 10px;
  }
}








// Peachy Overrides
// .row {
//   margin-left: -10px;
//   margin-right: -10px;
// }

[class*="col-"] {
  background-color: #efefef;
  text-align: center;
}
