:root {
  --duration: 700ms;
  --easing: cubic-bezier(0.19, 1, 0.22, 1);
}

// transition: transform var(--duration) var(--easing);

.ContentCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 450px;
  border: 1px solid #E2E8ED;
  border-radius: 2px;
  text-decoration: none;
  transition: box-shadow var(--duration) var(--easing);

  &:hover {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  }
}

.ContentCard-featureImage {
  @include aspect-ratio(16,9);
  margin-bottom: 20px;
  background-color: #efe;
  overflow: hidden;
}

.ContentCard-featureImage img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
}

.ContentCard-content {
  flex: 1;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  overflow: hidden;
}

.ContentCard-footer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}


// ==========
// VARIATIONS
// ==========


// Double Wide Content Card
.ContentCard--doubleWide {
  position: relative;
  display: flex;
  max-width: 800px;

  .ContentCard-featureImage {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    width: 50%;
    height: 100%;
  }

  .ContentCard-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }

  .ContentCard-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
  }
}


