/* [[2]] _mixins.scss */

// Mixins

// Transforms - Usage: @include transform(translate(50%, 50%) rotate(90deg));
@mixin transform($args...) {
    -webkit-transform: $args;
       -moz-transform: $args;
        -ms-transform: $args;
            transform: $args;
}

@mixin breakpoint($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}