/* [[2]] _mixins.scss */

// Mixins


// [1] Aspect Ratio
// Usage: @include aspect-ratio(16,9);
// Note: If you want content within that element
// wrap it in a .content div
@mixin aspect-ratio($width, $height) {
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


/*
Type Settings
============= 
Note: Set a parameter to '' to leave it as the default
Example: @include type-setting('', 16px, '', '', '');
This only sets the font-size, and leaves the remaining
settings as default
*/
@mixin type-setting(
  // Mixin Default Parameters
  $family: $sans,
  $size: $base-font-size,
  $weight: $base-font-weight,
  $line-height: $base-line-height,
  $letter-spacing: $base-letter-spacing) {
  // Mixin Body
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
