/* [[3]] _utility.scss */

/*-- Utility Classes --*/
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

// Colors
// ======

// Gray
.gray-lightest { color: $gray-lightest; }
.gray-lighter { color: $gray-lighter; }
.gray-light { color: $gray-light; }
.gray { color: $gray; }
.gray-dark { color: $gray-dark; }
.gray-darker { color: $gray-darker; }
.gray-darkest { color: $gray-darkest; }


// Green
.green-lightest { color: $green-lightest; }
.green-lighter { color: $green-lighter; }
.green-light { color: $green-light; }
.green { color: $green; }
.green-dark { color: $green-dark; }
.green-darker { color: $green-darker; }
.green-darkest { color: $green-darkest; }


// Background Colors
// ======

// Gray
.bg-gray-lightest { background-color: $gray-lightest; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray { background-color: $gray; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray-darker { background-color: $gray-darker; }
.bg-gray-darkest { background-color: $gray-darkest; }


// Green
.bg-green-lightest { background-color: $green-lightest; }
.bg-green-lighter { background-color: $green-lighter; }
.bg-green-light { background-color: $green-light; }
.bg-green { background-color: $green; }
.bg-green-dark { background-color: $green-dark; }
.bg-green-darker { background-color: $green-darker; }
.bg-green-darkest { background-color: $green-darkest; }



// Type Settings
// =============

// Headings & Such
.ts-h1 { @include type-setting($sans, $f10, $fw7, 1.2, 0.05em); }
.ts-h2 { @include type-setting($sans, $f9, $fw1, 1.2, 0.05em); }
.ts-h3 { @include type-setting($serif, $f8, $fw3, 1.2, 0.05em); }
.ts-h4 {
  @include type-setting($serif, $f7, $fw7, 1.2, 0.05em);
  color: $green-darker;
}
.ts-h5 { @include type-setting($serif, $f6, $fw3, 1.2, 0.05em); }
.ts-h6 { @include type-setting($serif, $f5, $fw3, 1.2, 0.05em); }
.ts-h6 { @include type-setting($serif, $f5, $fw3, 1.2, 0.05em); }
.ts-h7 { @include type-setting($sans, $f3, $fw7, 1.2, 0.07em); }

// Text & Such
.ts-t1 { @include type-setting($sans, $f3, $fw4, 1.2, 0.05em); }
.ts-t2 {
  @include type-setting($serif, $f3, $fw1, 1.2, 0.05em);
}

// Labels & Such
.ts-l1 {
  @include type-setting($sans, $f1, $fw2, 1.2, 0.09em);
  text-transform: uppercase;
}
.ts-l2 {
  @include type-setting($sans, $f1, $fw9, 1.2, 0.09em);
  text-transform: uppercase;
}




