/* [[1]] _variables.scss */

// Variables

// TODO: Maybe try to create mixins/extends to be used within the css for a display pattern?

// Font Settings
// ====
$sans-fallback: 'Helvetica, Arial, sans-serif';
$serif-fallback: 'Georgia, Times New Roman, Times, serif';

$sans: 'Sans Font Name', #{$sans-fallback};
$serif: 'Serif Font Name', #{$serif-fallback};


// Text Size Settings
// ====
$fontsize-1: 8;
$fontsize-2: 12;
$fontsize-3: 16;
$fontsize-4: 24;
$fontsize-5: 32;
$fontsize-6: 48;
$fontsize-7: 56;


// Color Settings
// ====
$primary-color: #badbad;
$secondary-color: #baaaad;


// Grid Settings
// ====
$grid-gutter-base: 10;
$grid-gutter: #{$grid-gutter-base}px;
$grid-gutter-half: #{$grid-gutter-base / 2}px;
$grid-gutter-double: #{$grid-gutter-base * 2}px;


// Breakpoint Settings
// ====
$breakpoint-xs: 400px;
$breakpoint-s: 640px;
$breakpoint-m: 960px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1400px;


// Module Settings
// ====



