/* [[1]] _variables.scss */

// Variables

// TODO: Maybe try to create mixins/extends to be used within the css for a display pattern?

// Font Settings
// ====
$sans-fallback: 'Helvetica, Arial, sans-serif';
$serif-fallback: 'Georgia, Times New Roman, Times, serif';

$sans: 'Sans Font Name', #{$sans-fallback};
$serif: 'Serif Font Name', #{$serif-fallback};

// Font Sizes
// ====
$f1: 10px;
$f2: 12px;
$f3: 16px;
$f4: 24px;
$f5: 32px;
$f6: 48px;
$f7: 56px;
$f8: 60px;
$f9: 66px;
$f10: 72px;

// Font Weights
// ====
$fw1: 100;
$fw2: 200;
$fw3: 300;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;
$fw8: 800;
$fw9: 900;

// Spacing
// ====
$spacing-xs: 0.25em;
$spacing-sm: 0.5em;
$spacing-md: 1em;
$spacing-lg: 1.5em;
$spacing-xl: 2em;

// Base Type Settings
// ====
$base-font: $sans;
$base-font-size: $f3;
$base-font-weight: $fw4;
$base-line-height: 1.2;
$base-letter-spacing: normal;


// Color Settings
// ====
$primary-color: #badbad;
$secondary-color: #baaaad;

$gray: #cccccc;
$gray-lightest: lighten($gray, 15%);
$gray-lighter: lighten($gray, 10%);
$gray-light: lighten($gray, 5%);
$gray-dark: darken($gray, 15%);
$gray-darker: darken($gray, 25%);
$gray-darkest: darken($gray, 50%);

$green: #badbad;
$green-lightest: lighten($green, 15%);
$green-lighter: lighten($green, 10%);
$green-light: lighten($green, 5%);
$green-dark: darken($green, 15%);
$green-darker: darken($green, 25%);
$green-darkest: darken($green, 50%);


// Grid Settings
// ====
$grid-gutter-base: 10;
$grid-gutter: #{$grid-gutter-base}px;
$grid-gutter-half: #{$grid-gutter-base / 2}px;
$grid-gutter-double: #{$grid-gutter-base * 2}px;


// Breakpoint Settings
// ====
$breakpoint-xs: 400px;
$breakpoint-sm: 640px;
$breakpoint-md: 960px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;





// Module Settings
// ====



// CSS Transition/Animation Variables
$duration: 700ms;
$easing: cubic-bezier(0.19, 1, 0.22, 1);






