// <div class="ha-content-card">
//   <img src="http://picsum.photos/50x50" alt="">
//   <p>Text of card content</p>
// </div>

:root {
  --duration: 700ms;
  --easing: cubic-bezier(0.19, 1, 0.22, 1);
}

// transition: transform var(--duration) var(--easing);

.ha-content-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #E2E8ED;
  border-radius: 2px;
  transition: box-shadow var(--duration) var(--easing);

  &:hover {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  }
}