/* ===================

[ PROJECT STYLEGUIDE ]

====================== */
:root {
  --primary-color: #706cff;
  --primary-text-color: #111111;
  --highlight-color: #dddcff;
  --border-color: #efefef;
  --divider-color: #dee2e6;
  --link-static-color: var(--primary-text-color);
  --link-hover-color: var(--highlight-color);
  --border-radius: 2px;
  --nav-item-icon-size: 15px; }

.styleguide {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 300px repeat(11, 1fr);
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas: "styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header styleguide-header" "styleguide-nav styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main styleguide-main" "styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer styleguide-footer";
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: #fafafa;
  /* Styleguide Header
  ---------------------------------------------*/
  /* Styleguide Navigation
  ---------------------------------------------*/
  /* Styleguide Main
  ---------------------------------------------*/
  /* Styleguide Footer
  ---------------------------------------------*/
  /* Styleguide Group Contents
  ---------------------------------------------*/ }
  @media (max-width: 800px) {
    .styleguide {
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto 1fr auto;
      grid-template-areas: "styleguide-header" "styleguide-nav" "styleguide-main" "styleguide-footer"; } }
  .styleguide header.styleguide-header {
    grid-area: styleguide-header; }
  .styleguide main.styleguide-main {
    grid-area: styleguide-main; }
  .styleguide nav.styleguide-nav {
    grid-area: styleguide-nav; }
  .styleguide footer.styleguide-footer {
    grid-area: styleguide-footer; }
  .styleguide header.styleguide-header {
    display: flex;
    justify-content: center;
    align-items: center; }
  .styleguide nav.styleguide-nav {
    padding-left: 15px; }
  .styleguide .styleguide-sidebar-navigation {
    background-color: #ffffff;
    align-self: start;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    position: sticky;
    top: 15px; }
  .styleguide nav.styleguide-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .styleguide nav.styleguide-nav ul * + * {
    border-top: 1px solid var(--divider-color); }
  .styleguide nav.styleguide-nav a {
    position: relative;
    display: block;
    padding: 10px calc(15px + var(--nav-item-icon-size)) 10px 15px;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    color: var(--link-static-color);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: var(--primary-color); }
    .styleguide nav.styleguide-nav a:hover {
      background-color: var(--link-hover-color); }
    .styleguide nav.styleguide-nav a:first-child {
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius); }
    .styleguide nav.styleguide-nav a:last-child {
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius); }
  .styleguide main.styleguide-main {
    background-color: #ffffff;
    border: 1px solid var(--border-color); }
  .styleguide footer.styleguide-footer {
    background-color: #2f2f2f; }
  .styleguide section {
    padding: 20px;
    max-width: 1200px; }
  .styleguide [class*="styleguide-"] {
    font-family: Avenir, sans-serif; }
  .styleguide .styleguide-group {
    padding-bottom: 50px; }
  .styleguide .styleguide-subgroup {
    padding-bottom: 30px; }
  .styleguide .styleguide-title {
    font-weight: 900;
    letter-spacing: 0.07em;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 5px 10px 3px;
    text-shadow: 2px 2px 2px #c8c8c8; }
  .styleguide .styleguide-heading {
    margin-top: 0;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.03em;
    border-bottom: 2px solid var(--border-color);
    color: var(--primary-color); }
  .styleguide .styleguide-subheading {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: var(--highlight-color);
    background-color: var(--primary-color);
    color: #fff;
    padding: 3px 7px 2px; }
  .styleguide .styleguide-label {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--primary-color); }
  .styleguide .styleguide-label--space {
    margin-top: 40px;
    margin-bottom: 10px; }
  .styleguide .styleguide-help-text {
    position: relative;
    display: block;
    margin-top: 5px;
    padding: 7px;
    padding-left: calc(60px + 10px);
    max-width: 500px;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-color);
    background-color: #f5f5f5;
    border: 1px solid var(--primary-color);
    border-radius: 2px; }
    .styleguide .styleguide-help-text::before {
      content: 'NOTE:';
      position: absolute;
      top: -1px;
      left: -1px;
      width: 60px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;
      font-weight: bold;
      color: #ff6161;
      border: 1px solid #ff6161;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .styleguide .styleguide-help-text h4, .styleguide .styleguide-help-text p {
      margin: 5px; }
    .styleguide .styleguide-help-text code {
      color: #ff6161;
      background-color: #e6e5f3; }
  .styleguide .styleguide-code-preview {
    position: relative;
    padding-left: 75px; }
    .styleguide .styleguide-code-preview::before {
      content: 'Usage';
      position: absolute;
      top: 0;
      left: 0;
      width: 75px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5; }
  .styleguide .styleguide-code-preview pre {
    display: flex;
    white-space: normal; }
  .styleguide .styleguide-code-preview code {
    display: inline-block;
    font-size: 13px;
    white-space: pre-wrap;
    background-color: #fbfdfd;
    border: 1px solid var(--border-color);
    border-radius: 2px; }

.styleguide-color-item {
  padding: 2px; }
  .styleguide-color-item code {
    margin-left: 10px; }

[class*="col-"] {
  background-color: #efefef;
  text-align: center; }
