// Settings


// Font Settings
// ====
$sans-fallback: 'Helvetica, Arial, sans-serif';
$serif-fallback: 'Georgia, Times New Roman, Times, serif';

$sans: 'Sans Font Name', #{$sans-fallback};
$serif: 'Serif Font Name', #{$serif-fallback};


// Color Settings
// ====
$primary-color: #badbad;
$secondary-color: #baaaad;



// Module Settings
// ====
// Examples:
// $gutter: 30px;
//
