/*-- Utility Classes --*/
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.centered-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform-translate(-50%, -50%);
}
