/*-- Utility Classes --*/
.rounded-corners {
  @include border-radius(5px);
}


.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.centered {
  @include transform-translate(-50%, -50%);
}
